@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
nav{
	width: 100%;
	height: 75px;
	background-color: #505d61;
	line-height: 75px;
	padding:0px 100px;
	position:fixed;
	z-index: 1;
}
nav .logo{
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 1.5px; 
}
nav .logo p{
	float: left;
	color:#fff;
	text-transform: uppercase;
}
nav ul{
	float: right;
}
nav ul li{
	display: inline-block;
	list-style: none;
}
nav ul li a{
	color:#fff;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	padding:0px 32px;
}
nav ul li a:hover{
	color:#c0d96f;
}
nav ul li .active{
	color:#c0d96f;
}
.image img{
	width: 100%;
	height: 0px auto;
	opacity: 0.80;
}






.grid {
	display: grid;
	gap: var(--grid-gap, 1rem);
}

.artist {
	margin-block: 5rem;
}

.recent-artist {
	width: 90vw;
	margin-inline: auto;
	--grid-gap: 1rem;
	padding-bottom: 1rem;
	grid-template-areas:
		'one'
		'two'
		'three';
}

	.recent-artist:nth-child(1) {
		grid-area: one;
	}

	.recent-artist:nth-child(2) {
		grid-area: two;
	}

	.recent-artist:nth-child(3) {
		grid-area: three;
	}


.artist-con > img {
	margin: auto;
	border-radius: 1rem;
	height: 18rem;
	cursor: pointer;
	transition: transform 250ms ease-in-out;
}

	.artist-con > img:hover {
		box-shadow: 4px 4px 40px -5px black;
		transition: transform 250ms ease-in-out;
	}

.artist-con > h2 {
	text-align: center;
	line-height: 1.5rem;
}

.artist-con > p {
	margin-top: 1rem;
	text-align: justify;
	line-height: 1.5rem;
}

/*---------desktop view-----*/

@media (min-width: 59em) {
	.recent-artist {
		width: 75vw;
		margin-inline: auto;
		--grid-gap: 5rem;
		padding-bottom: 2rem;
		grid-template-areas:
			'one two three';
	}

	.artist-con {
		--grid-gap: 0.8rem;
		border-color: black;
		border-width: 1rem;
	}

		.artist-con > h2 {
			font-size: 1.2rem;
			text-align: center;
		}

		.artist-con > p {
			font-size: 0.9rem;
			text-align: center;
		}
}


































































































